{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}


{% block body %}
<main class="main">
  <nav aria-label="breadcrumb" class="breadcrumb-nav">
      <div class="container">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'Product:products' %}" class="fs-3 fw-bold">الرئيسية</a></li> .
              <li class="breadcrumb-item fs-3 fw-bold active" aria-current="page">تسجيل جديد</li>
          </ol>
      </div>
  </nav>
    <div class="container">
        <div class="row">
          <div class="col-md-3">
          </div>
            <div class="col-md-6">
                <div class="heading">
                  <div class="page-header">
                    <div class="container">
                      <h1>{% trans "تسجيل جديد" %}</h1>
                    </div><!-- End .container -->
                 </div><!-- End .page-header -->
                  {% get_providers as socialaccount_providers %}

                  {% if socialaccount_providers %}
                  <p>{% blocktrans with site.name as site_name %} <a href="{{ signup_url }}">sign up</a>
                  for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
                
                  <div class="socialaccount_ballot">
                
                    <ul class="socialaccount_providers">
                      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    </ul>
                
                    <div class="login-or">{% trans 'or' %}</div>
                
                  </div>
                
                  {% include "socialaccount/snippets/login_extra.html" %}
                
                  {% else %}

                  <p class="text-center fs-3">{% blocktrans %}هل تمتلك حساب بالفعل ؟
                  <a class="fs-2 fw-bold" href="{{ login_url }}">تسجيل الدخول من هنا </a> {% endblocktrans %}</p>
                  
                  {% endif %}
                </div><!-- End .heading -->

                <form  class="login " method="POST" action="{% url 'account_signup' %}">

                    {% csrf_token %}
                    {{ form|crispy }}

                    <div class="form-footer">
                      {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                      {% endif %}
                        <button class="fs-3 fw-bold btn btn-primary" type="submit">{% trans "تسجيل جديد" %}</button>
                    </div><!-- End .form-footer -->

                </form>
            </div><!-- End .col-md-6 -->
            <div class="col-md-3">
            </div>
        </div><!-- End .row -->
    </div><!-- End .container -->

</main><!-- End .main -->

{% endblock %}
