<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hashtag</title>

    <meta name="keywords" content="Hashtag eCommerce" />
    <meta name="description" content="Hashtag eCommerce">
    <meta name="author" content="Eng-Hasan">
        
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="assets/images/icons/hashtag.jpg">
    
    
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.new.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.min.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="assets/css/mystyle.css">
    
    <!-- links for work Whatsapp button -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- end Whatsapp -->

</head>
<body>
    <div class="contaner">
        <div class="page-wrapper">
            <header class="header">
                <div class="header-top">
                    <div class="container">
                        <div class="header-right header-left header-dropdowns">
                            <ul>
                                <!-- <li><a href="my-account.html">my account</a></li> -->
                                <li><a href="about.html" class="fs-3 fw-bold">عنا</a></li>
                                <!-- <li><a href="#">my wishlist</a></li> -->
                                <li><a href="contact.html" class="fs-3 fw-bold">للتواصل</a></li>
                                <!-- <li><a href="login.html">log in</a></li> -->
                            </ul>
                        </div><!-- End .header-left -->
                        <div class="header-left header-dropdowns header-right">
                            <a href="index.html" class="logo">
                                <strong><h2>HashTag #</h2></strong>
                            </a>
                            
                        </div>
                    </div>
                </div><!-- End .header-top -->

                <div class="header-middle sticky-header ">
                    <div class="container">
                        <div class="header-left ">
                            <button class="mobile-menu-toggler" type="button">
                                <i class="icon-menu"></i>
                            </button>
                            <nav class="main-nav">
                                <ul class="menu "> 
                                    <li>
                                        <a href="#" class="fs-4 fw-bold">أنظمة الإضاءة</a>
                                        <div class="megamenu">
                                            <div class="row row-sm">
                                                <div class="col-lg-4">
                                                    <a href="category-sidebar-right.html" class="fs-4 fw-bold">شركات</a>
                                                    <ul class="submenu">
                                                        <li><a href="category-sidebar-right.html" class="fs-4 fw-bold">فيليبس</a></li>
                                                        <li><a href="category-sidebar-right.html" class="fs-4 fw-bold">إليوس</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" class="fs-4 fw-bold">تكييفات</a>
                                        <div class="megamenu">
                                            <div class="row row-sm">
                                                <div class="col-lg-4">
                                                    <a href="category-sidebar-right.html" class="fs-4 fw-bold">تكييفات</a>
                                                    <ul class="submenu">
                                                        <li><a href="category-sidebar-right.html" class="fs-4 fw-bold">تكييفات اسمارت</a></li>
                                                        <li><a href="category-sidebar-right.html" class="fs-4 fw-bold">تكييفات ديجيتال</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" class="fs-4 fw-bold">مكنسة</a>
                                        <div class="megamenu">
                                            <div class="row row-sm">
                                                <div class="col-lg-4">
                                                    <a href="category-sidebar-right.html" class="fs-4 fw-bold">مكنسة</a>
                                                    <ul class="submenu">
                                                        <li><a href="category-sidebar-right.html" class="fs-4 fw-bold">مكنسة كهراباء</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" class="fs-4 fw-bold">افران</a>
                                        <div class="megamenu">
                                            <div class="row row-sm">
                                                <div class="col-lg-4">
                                                    <a href="category-sidebar-right.html" class="fs-4 fw-bold">فرن </a>
                                                    <ul class="submenu">
                                                        <li><a href="category-sidebar-right.html" class="fs-4 fw-bold">شوايات</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" class="fs-4 fw-bold">اجهزة تحضير الافطار</a>
                                        <div class="megamenu">
                                            <div class="row row-sm">
                                                <div class="col-lg-4">
                                                    <a href="category-sidebar-right.html" class="fs-4 fw-bold">اجهزة تحضير الافطار</a>
                                                    <ul class="submenu">
                                                        <li><a href="category-sidebar-right.html" class="fs-4 fw-bold">ماكينة القهوة</a></li>
                                                        <li><a href="category-sidebar-right.html" class="fs-4 fw-bold">ماكينة اعداد البيض</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" class="fs-4 fw-bold">شاشات</a>
                                        <div class="megamenu">
                                            <div class="row row-sm">
                                                <div class="col-lg-4">
                                                    <a href="category-sidebar-right.html" class="fs-4 fw-bold">شاشات</a>
                                                    <ul class="submenu">
                                                        <li><a href="category-sidebar-right.html" class="fs-4 fw-bold">شاشات ليد</a></li>
                                                        <li><a href="category-sidebar-right.html" class="fs-4 fw-bold">شاشات اسمارت</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" class="fs-4 fw-bold">غسالات</a>
                                        <div class="megamenu">
                                            <div class="row row-sm">
                                                <div class="col-lg-4">
                                                    <a href="category-sidebar-right.html" class="fs-4 fw-bold">غسالات صحون</a>
                                                    <ul class="submenu">
                                                        <li><a href="category-sidebar-right.html" class="fs-4 fw-bold">غسالة صحون توشيبا</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" class="fs-4 fw-bold">اجهزة صغيرة</a>
                                        <div class="megamenu">
                                            <div class="row row-sm">
                                                <div class="col-lg-4">
                                                    <a href="category-sidebar-right.html" class="fs-4 fw-bold">غسالات صحون</a>
                                                    <ul class="submenu">
                                                        <li><a href="category-sidebar-right.html" class="fs-4 fw-bold">غسالة صحون توشيبا</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <a href="#" class="fs-4 fw-bold">الاجهزة المنزلية</a>
                                        <div class="megamenu">
                                            <div class="row row-sm">
                                                <div class="col-lg-4">
                                                    <a href="category-sidebar-right.html" class="fs-4 fw-bold">اجهزة منزلية صغيرة</a>
                                                    <ul class="submenu">
                                                        <li><a href="category-sidebar-right.html" class="fs-4 fw-bold">سخانات كهراباء</a></li>
                                                        <li><a href="category-sidebar-right.html" class="fs-4 fw-bold">سخانات غاز</a></li>
                                                    </ul>
                                                </div><!-- End .col-lg-4 -->
                                                <div class="col-lg-4">
                                                    <a href="category-sidebar-right.html" class="fs-4 fw-bold">اجهزة تحضير الطعام</a>
                                                    <ul class="submenu">
                                                        <li><a href="category-sidebar-right.html" class="fs-4 fw-bold">كيتش ماشين</a></li>
                                                        <li><a href="category-sidebar-right.html" class="fs-4 fw-bold">خلاطات</a></li>
                                                    </ul>
                                                </div><!-- End .col-lg-4 -->

                                                <!-- <div class="col-lg-4 image-container">
                                                    <img src="assets/images/menu-banner-1.jpg" alt="Menu banner" class="product-promo">
                                                </div>End .col-lg-4 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .megamenu -->
                                    </li>
                                    <li>
                                        <a href="#" class="fs-4 fw-bold">الاجهزة الكهربائية</a>
                                        <div class="megamenu">
                                            <div class="row row-sm">
                                                <div class="col-lg-4">
                                                    <a href="#" class="fs-4 fw-bold">غسالات ملابس</a>
                                                    <ul class="submenu">
                                                        <li><a href="category-sidebar-right.html" class="fs-4 fw-bold">غسالة توشيبا</a></li>
                                                        <li><a href="category-sidebar-right.html" class="fs-4 fw-bold">غسالة يونيون اير</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-4">
                                                    <a href="#" class="fs-4 fw-bold">ثلاجات </a>
                                                    <ul class="submenu">
                                                        <li><a href="category-sidebar-right.html" class="fs-4 fw-bold">ثلاجات 20 قدم</a></li>
                                                        <li><a href="category-sidebar-right.html" class="fs-4 fw-bold">ثلاجات 30 قدم</a></li>
                                                    </ul>
                                                </div>
                                                <!-- <div class="col-lg-4 image-container">
                                                    <img src="assets/images/menu-banner-2.jpg" alt="Menu banner">
                                                </div> -->
                                            </div>
                                        </div><!-- End .megamenu -->
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <a href="index.html">
                            <i class="fab fa-slack-hash hashtag"></i>
                        </a>
                    </div>
                </div>

                <div class="header-bottom">
                    <div class="col-lg-4">
                        <div class="service-widget">
                            <i class="service-icon icon-shipping"></i>
                            <div class="service-content">
                                <h3 class="service-title fs-2 fw-bold ">شراء & إسترجاع</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service-widget">
                            <i class="service-icon icon-money"></i>
                            <div class="service-content">
                                <h3 class="service-title fs-2 fw-bold">إسترجاع اموال مضمون</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service-widget">
                            <i class="service-icon icon-support"></i>
                            <div class="service-content">
                                <h3 class="service-title fs-2 fw-bold">اون لاين 24/7</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </header><!-- End .header -->

        <main class="main">

            <nav aria-label="breadcrumb" class="breadcrumb-nav">   
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html" class="fs-3 fw-bold">الرئيسية</a></li>.
                        <li class="breadcrumb-item fs-3 fw-bold active" aria-current="page">تأكيد الطلب</li>
                    </ol>
                </div>
            </nav>

            <div class="container">

                <ul class="checkout-progress-bar">
                    <li>
                        <span>الشحن</span>
                    </li>
                    <li class="active">
                        <span>تأكيد الطلب &amp; الدفع</span>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="order-summary">
                            <h3 class="fs-1 fw-bold text-center">مراجعة طلبك</h3>

                            <h4>
                                <a data-toggle="collapse" href="#order-cart-section" class="collapsed fs-2 fw-bold" role="button" aria-expanded="false" aria-controls="order-cart-section">2 المنتجات داخل السلة</a>
                            </h4>

                            <div class="collapse" id="order-cart-section">
                                <table class="table table-mini-cart">
                                    <tbody>
                                        <tr>
                                            <td class="product-col">
                                                <figure class="product-image-container">
                                                    <a href="product.html" class="product-image">
                                                        <img src="assets/images/products/white/tornado_led_tv_43_inch_full_hd_with_2_hdmi_and_2_usb_inputs_43el8250e-a-front-normal.jpg" alt="product">
                                                    </a>
                                                </figure>
                                                <div>
                                                    <h2 class="product-title">
                                                        <a href="product.html" class="fs-3 fw-bold">Product Short Name</a>
                                                    </h2>

                                                    <span class="product-qty fw-bold">Qty: 1</span>
                                                </div>
                                            </td>
                                            <td class="price-col fs-4 fw-bold">$17.90</td>
                                        </tr>

                                        <tr>
                                            <td class="product-col">
                                                <figure class="product-image-container">
                                                    <a href="product.html" class="product-image">
                                                        <img src="assets/images/products/white/toshiba-washing-machine-top-automatic-10-kg-with-pump-in-silver-color-aew-e1050sup-ss-open-side-zoom.jpg" alt="product">
                                                    </a>
                                                </figure>
                                                <div>
                                                    <h2 class="product-title">
                                                        <a href="product.html" class="fs-3 fw-bold">Product Short Name</a>
                                                    </h2>

                                                    <span class="product-qty fw-bold">Qty: 1</span>
                                                </div>
                                            </td>
                                            <td class="price-col fs-4 fw-bold">$8.90</td>
                                        </tr>
                                    </tbody>
                                        
                                    
                                    <tfoot>
                                        <tr>
                                            <td class="fs-3 fw-bold">تكلفة الشحن</td>
                                            <td class="fs-4 fw-bold">$20</td>
                                        </tr>
                                            <tr>
                                                <td class="fs-2 fw-bold">المجموع الكلي</td>
                                                <td class="fs-4 fw-bold">$46.80</td>
                                            </tr>
                                    </tfoot>                                          
                                </table>
                            </div><!-- End #order-cart-section -->
                        </div><!-- End .order-summary -->

                        <div class="checkout-info-box">
                            <h3 class="step-title fs-2 fw-bold">الشحن الي :
                                <a href="#" title="Edit" class="step-title-edit"><span class="sr-only">Edit</span><i class="icon-pencil"></i></a>
                            </h3>

                            <address class="fs-3 fw-bold">
                                الجيزة <br>
                                امبابة, شارع الوحدة <br>
                                شارع عمر ابن الخطاب , ارض الجمعية <br>
                                01122733995 <br>
                            </address>
                        </div><!-- End .checkout-info-box -->

                        <div class="checkout-info-box">
                            <h3 class="step-title fs-2 fw-bold">ميعاد التسليم : 
                                <a href="#" title="Edit" class="step-title-edit"><span class="sr-only">Edit</span><i class="icon-pencil"></i></a>
                            </h3>

                            <p class="fs-3 fw-bold">10/4/2021</p>
                        </div><!-- End .checkout-info-box -->
                    </div><!-- End .col-lg-4 -->

                    <div class="col-lg-8 order-lg-first">
                        <div class="checkout-payment">
                            <h2 class="step-title">طريقة الدفع :</h2>
                            <table class="table table-step-shipping table-hover">
                                <tbody>                                   
                                    <tr class="border ">
                                        <td class="product-col">
                                            <figure class="product-image-container">
                                                <label for="Receipt"><img src="assets/images/cod-ar (1).png" alt="الدفع عن الإستلام"></label>
                                            </figure>
                                        </td>
                                        <td class="padding-top-td"  style="padding-top: 25px;"><label class="form-check-label" style="color: black;" for="Receipt"><strong class="fs-3 fw-bold">الدفع عند الإستلام</strong></label></td>
                                        <td style="padding-top: 25px;">       
                                            <input class="form-check-input" type="radio" id="Receipt" name="shipping-method" value="" autocomplete="off" checked>
                                        </td>
                                    </tr>
                                    <tr class="border">
                                        <td class="product-col">
                                            <figure class="product-image-container">
                                                <label for="Vodafone"><img src="assets/images/vodafone-cash.png" alt="فودافون كاش"></label>
                                            </figure>
                                        </td>
                                        <td class="padding-top-td"  style="padding-top: 25px;"><label class="form-check-label" style="color: black;" for="Vodafone"><strong class="fs-3 fw-bold">فودافون كاش</strong></label></td>
                                        <td style="padding-top: 25px;">
                                            <input class="form-check-input" type="radio" id="Vodafone" name="shipping-method" value="vodafon" autocomplete="off">
                                        </td>
                                    </tr>
                                    <tr class="border">
                                        <td class="product-col">
                                            <figure class="product-image-container">
                                                <label for="Etisalat"><img src="assets/images/كيفية الاشتراك فى كاش.png" alt="اتصالات كاش" style="width:60% "></label>
                                            </figure>
                                        </td>
                                        <td class="padding-top-td"  style="padding-top: 25px;"><label class="form-check-label" style="color: black;" for="Etisalat"><strong class="fs-3 fw-bold">اتصالات كاش</strong></label></td>
                                        <td style="padding-top: 25px;">
                                            <input class="form-check-input" type="radio" id="Etisalat" name="shipping-method" value="" autocomplete="off"></td>
                                    </tr>
                                    <tr class="border" >
                                        <td class="product-col" >
                                            <figure class="product-image-container" >
                                                <label for="Visa"><img src="assets/images/visa-on-deliver-ar.png" alt=" فيزا عند الإستلام"></label>
                                            </figure>
                                        </td>
                                        <td class="padding-top-td"  style="padding-top: 25px;"><label class="form-check-label" style="color: black;" for="Visa"><strong class="fs-3 fw-bold"> فيزا عند الإستلام</strong></label></td>
                                        <td style="padding-top: 25px;">
                                            <input class="form-check-input" type="radio" id="Visa" name="shipping-method" value="" autocomplete="off"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <div class="clearfix">
                                                <button class="btn btn-primary fs-1 fw-bold" id="success" onclick="click();">اطلب الأن</button>
                                            </div><!-- End .clearfix -->
                                        </div><!-- End .checkout-payment -->
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                    </div><!-- End .col-lg-8 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

        </main><!-- End .main -->

        <footer class="footer">
               
            <div class="footer-middle">
                <div class="container">
                    <div class="row row-sm">
                        <div class="col-md-6 col-lg-4">
                            <div class="div-icon">
                                <a href="index.html">
                                    <i class="fab fa-slack-hash"></i>
                                </a>
                            </div>
                            <div class="social-icons">
                                <a href="https://www.facebook.com/Hashtag-Store-109016907398908/" target="_blank" class="social-icon"><i class="fa fa-facebook-f"></i></a>
                                <!-- <a href="#" target="_blank" class="social-icon"><i class="fa fa-twitter"></i></a> -->
                                <a href="https://api.whatsapp.com/send?phone=201144056036&text=هل يمكن أن يساعدني شخص ما ؟" class="social-icon" target="_blank">
                                    <i class="fa fa-whatsapp"></i>
                                </a>
                                <a href="#" target="_blank" class="social-icon"><i class="fa fa-linkedin-in"></i></a>
                                <a href="https://api.whatsapp.com/send?phone=201144056036&text=هل يمكن أن يساعدني شخص ما ؟" class="float" target="_blank">
                                    <i class="fa fa-whatsapp my-float"></i>
                                </a>
                            </div>
                            <br>
                            <div class="social-link">
                                <h3 class="link-title fs-3 fw-bold">للتواصل والأستفسارات ؟</h3>
                                <a href="tel:01144056036">01144056036</a><br>
                                <a href="tel:02 37936915">02 37936915</a><br>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="widget">
                                <h3 class="widget-title fs-3 fw-bold">روابط مهمة</h3>
                                <div class="widget-content row row-sm">
                                    <ul class="col-xl-6">
                                        <li><a href="about.html" class="fs-3 fw-bold">عنا</a></li>
                                        <li><a href="contact.html" class="fs-3 fw-bold">اتصل بنا</a></li>
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="widget">
                                <h3 class="widget-title fs-3 fw-bold">الاقسام</h3>
                                <div class="widget-content row row-sm">
                                    <ul class="col-xl-6">
                                        <li><a href="product-grid-layout.html" class="fs-3 fw-bold">افران</a></li>
                                        <li><a href="product-grid-layout.html" class="fs-3 fw-bold">اجهزة تحضير الافطار</a></li>
                                        <li><a href="product-grid-layout.html" class="fs-3 fw-bold">شاشات</a></li>
                                        <li><a href="product-grid-layout.html" class="fs-3 fw-bold">غسالات صحون</a></li>
                                    </ul>
                                    <ul class="col-xl-6">
                                        <li><a href="product-grid-layout.html" class="fs-3 fw-bold">الاجهزة الكهربائية</a></li>
                                        <li><a href="product-grid-layout.html" class="fs-3 fw-bold">الاجهزة المنزلية</a></li>
                                        <li><a href="product-grid-layout.html" class="fs-3 fw-bold">تكييفات</a></li>
                                        <li><a href="product-grid-layout.html" class="fs-3 fw-bold">مكنسة</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom container">
                <p  class="fs-3 fw-bold">creatd by Eng-Hasan © 2021</p>
            </div>
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->

    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">


            <div class="mobile-top">
                <div class="mobile-nav">
                    <div class="header-left header-dropdowns">
                        <a href="index.html" class="logo">
                            <strong><h2>HashTag #</h2></strong>
                        </a>
                    </div><!-- End .header-left -->
                    <br>

                    <div class="header-left">
                        <ul class="mobile-menu">
                            <li><a href="about.html">عنا</a></li>
                            <li><a href="contact.html">اتصل بنا</a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- End .header-top -->

            <span class="mobile-menu-close"><i class="icon-retweet"></i></span>
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active"><a href="index.html">الرئيسية</a></li>
                    <li>
                        <a href="category-sidebar-right.html" class="nolink">الاجهزة الكهربائية</a>
                        <ul>
                            <li>
                                <a href="category-sidebar-right.html" class="nolink">غسالات ملابس</a>
                                <ul>
                                    <li><a href="category-sidebar-right.html">غسالة توشيبا</a></li>
                                    <li><a href="category-sidebar-right.html">غسالة يونيون اير</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="category-sidebar-right.html">ثلاجات</a>
                                <ul>
                                    <li><a href="product-grid-layout.html">ثلاجات 20 قدم</a></li>
                                    <li><a href="product-grid-layout.html">ثلاجات 30 قدم</a></li>
                                </ul>
                            </li>

                        </ul>                    
                    </li>
                    <li>
                        <a href="category-sidebar-right.html">الاجهزة المنزلية</a>
                        <ul>
                            <li>
                                <a href="product-grid-layout.html" class="nolink">اجهزة منزلية صغيرة</a>
                                <ul>
                                    <li><a href="product-grid-layout.html">سخانات كهراباء</a></li>
                                    <li><a href="product-grid-layout.html">سخانات غاز</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="product-grid-layout.html" class="nolink">اجهزة تحضير الطعام</a>
                                <ul>
                                    <li><a href="product-grid-layout.html">كيتش ماشين</a></li>
                                    <li><a href="product-grid-layout.html">خلاطات</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="product-grid-layout.html">تكييفات</a>
                        <ul>
                            <li><a href="product-grid-layout.html">تكييفات اسمارت</a></li>
                            <li><a href="product-grid-layout.html">تكييفات ديجيتال</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="product-grid-layout.html" class="nolink">مكنسة</a>
                        <ul>
                            <li><a href="product-grid-layout.html">مكنسة كهراباء</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="product-grid-layout.html">افران</a>
                        <ul>
                            <li><a href="product-grid-layout.html">شوايات</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="product-grid-layout.html" class="nolink">اجهزة تحضير الافطار</a>
                        <ul>
                            <li><a href="product-grid-layout.html">ماكينة القهوة</a></li>
                            <li><a href="product-grid-layout.html">ماكينة اعداد البيض</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="product-grid-layout.html" class="nolink">شاشات</a>
                        <ul>
                            <li><a href="product-grid-layout.html">شاشات ليد</a></li>
                            <li><a href="product-grid-layout.html">شاشات اسمارت</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="product-grid-layout.html" class="nolink">غسالات صحون</a>
                        <ul>
                            <li><a href="product-grid-layout.html">غسالة صحون توشيبا</a></li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank"><i class="icon-facebook"></i></a>
                <a href="#" class="social-icon" target="_blank"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank"><i class="icon-instagram"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Add Cart Modal -->
    <div class="modal fade" id="addCartModal" tabindex="-1" role="dialog" aria-labelledby="addCartModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body add-cart-box text-center">
            <p>You've just added this product to the<br>cart:</p>
            <h4 id="productTitle"></h4>
            <img src="#" id="productImage" width="100" height="100" alt="adding cart image">
            <div class="btn-actions">
                <a href="cart.html"><button class="btn-primary">Go to cart page</button></a>
                <a href="#"><button class="btn-primary" data-dismiss="modal">Continue</button></a>
            </div>
        </div>
        </div>
    </div>
    </div>

    <a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

    <!-- Plugins JS File -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/plugins/isotope-docs.min.js"></script>

    <!-- Main JS File -->
    <script src="assets/js/main.min.js"></script>
    <script src="assets/js/sweetalert.min.js"></script>


</div>
    <script>  
		$(document).on("click", "#success", function(e){
			swal('تم إرسال البيانات وهيتم التواصل مع حضرتك','شكرا','success')
		});
    </script>
</body>

</html>